<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Usuario</title>
</head>
<body>
    <h1>Modificar Usuario</h1>
    <form action="../backend/controllers/SERVICES/modificar_usuarios.php" method="POST">
        <label for="id_usuario">ID de Usuario:</label>
        <input type="text" id="id_usuario" name="id_usuario" required><br><br>

        <label for="fullname">Nuevo Nombre Completo:</label>
        <input type="text" id="fullname" name="fullname" required><br><br>

        <label for="email">Nuevo Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Modificar Usuario">
    </form>
</body>
</html>
